//Import Google Font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

//Import OverlayScrollbars
@import url("overlayscrollbars.min.css");

//Import Bootstrap
@import "../node_modules/bootstrap/scss/functions";

//Options
$enable-rounded: false;
$enable-transitions: false;
$enable-caret: false;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

//Fonts
$font-family-sans-serif: "Open Sans", sans-serif;

//Close Button
$btn-close-padding-x: 0;
$btn-close-padding-y: $btn-close-padding-x;
$btn-close-opacity: 1;
$btn-close-hover-opacity: 1;
$btn-close-focus-opacity: 1;
$btn-close-white-filter: none;

//Checks & Radios
$form-check-margin-bottom: 0px;
$form-check-input-bg: transparent;
$form-check-input-focus-border: transparent;
$form-check-input-checked-bg-color: transparent;
$form-check-input-checked-border-color: transparent;
$form-check-inline-margin-end: 0px;

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

//CSS Variable Overrides
:root {
  .accordion {
    --#{$prefix}accordion-transition: #{$accordion-transition};
    --#{$prefix}accordion-border-width: 0px;
    --#{$prefix}accordion-border-radius: #{$accordion-border-radius};
    --#{$prefix}accordion-inner-border-radius: #{$accordion-inner-border-radius};
    --#{$prefix}accordion-btn-padding-x: #{$spacer * 0.5};
    --#{$prefix}accordion-btn-padding-y: #{$spacer * 0.25};
    --#{$prefix}accordion-btn-icon-width: 16px;
    --#{$prefix}accordion-btn-icon-transform: #{$accordion-icon-transform};
    --#{$prefix}accordion-btn-icon-transition: #{$accordion-icon-transition};
    --#{$prefix}accordion-btn-active-icon: var(--#{$prefix}accordion-btn-icon);
    --#{$prefix}accordion-btn-focus-box-shadow: #{$accordion-button-focus-box-shadow};
    --#{$prefix}accordion-body-padding-x: #{$spacer * 0.5};
    --#{$prefix}accordion-body-padding-y: #{$spacer * 0.25};
  }

  .card {
    --#{$prefix}card-spacer-y: #{$card-spacer-y};
    --#{$prefix}card-spacer-x: #{$card-spacer-x};
    --#{$prefix}card-title-spacer-y: #{$card-title-spacer-y};
    --#{$prefix}card-border-width: 0px;
    --#{$prefix}card-border-radius: #{$card-border-radius};
    --#{$prefix}card-box-shadow: #{$card-box-shadow};
    --#{$prefix}card-inner-border-radius: #{$card-inner-border-radius};
    --#{$prefix}card-cap-padding-y: #{$spacer * 0.25};
    --#{$prefix}card-cap-padding-x: #{$spacer * 0.5};
    --#{$prefix}card-height: #{$card-height};
    --#{$prefix}card-img-overlay-padding: #{$card-img-overlay-padding};
    --#{$prefix}card-group-margin: #{$card-group-margin};
  }

  .dropdown-menu {
    --#{$prefix}dropdown-zindex: #{$zindex-dropdown};
    --#{$prefix}dropdown-min-width: #{$dropdown-min-width};
    --#{$prefix}dropdown-padding-x: #{$dropdown-padding-x};
    --#{$prefix}dropdown-padding-y: 0px;
    --#{$prefix}dropdown-spacer: #{$dropdown-spacer};
    @include rfs($dropdown-font-size, --#{$prefix}dropdown-font-size);
    --#{$prefix}dropdown-border-radius: #{$dropdown-border-radius};
    --#{$prefix}dropdown-border-width: 0px;
    --#{$prefix}dropdown-inner-border-radius: #{$dropdown-inner-border-radius};
    --#{$prefix}dropdown-divider-margin-y: #{$spacer * 0.25};
    --#{$prefix}dropdown-box-shadow: #{$dropdown-box-shadow};
    --#{$prefix}dropdown-item-padding-x: #{$spacer};
    --#{$prefix}dropdown-item-padding-y: #{$spacer * 0.25};
    --#{$prefix}dropdown-header-padding-x: var(--#{$prefix}dropdown-item-padding-x);
    --#{$prefix}dropdown-header-padding-y: var(--#{$prefix}dropdown-padding-y);
  }

  .list-group {
    --#{$prefix}list-group-border-width: 0px;
    --#{$prefix}list-group-border-radius: #{$list-group-border-radius};
    --#{$prefix}list-group-item-padding-x: 0px;
    --#{$prefix}list-group-item-padding-y: 0px;
  }

  .navbar {
    --#{$prefix}navbar-padding-x: 0px;
    --#{$prefix}navbar-padding-y: 0px;
    --#{$prefix}navbar-brand-padding-y: #{$navbar-brand-padding-y};
    --#{$prefix}navbar-brand-margin-end: #{$navbar-brand-margin-end};
    --#{$prefix}navbar-brand-font-size: #{$navbar-brand-font-size};
    --#{$prefix}navbar-nav-link-padding-y: #{$spacer * 0.25};
    --#{$prefix}navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
    --#{$prefix}navbar-toggler-padding-y: #{$navbar-toggler-padding-y};
    --#{$prefix}navbar-toggler-padding-x: #{$navbar-toggler-padding-x};
    --#{$prefix}navbar-toggler-font-size: #{$navbar-toggler-font-size};
    --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg)};
    --#{$prefix}navbar-toggler-border-radius: #{$navbar-toggler-border-radius};
    --#{$prefix}navbar-toggler-focus-width: 0px;
    --#{$prefix}navbar-toggler-transition: #{$navbar-toggler-transition};
  }
}

//Color Modes
:root,
[data-bs-theme="light"] {
  --#{$prefix}primary: #b1ac98;
  --#{$prefix}primary-rgb: 177, 172, 152;
  --#{$prefix}primary-hs: 48, 14%;
  --#{$prefix}primary-l: 65%;
  --#{$prefix}secondary: #c4bfa9;
  --#{$prefix}secondary-rgb: 196, 191, 169;
  --#{$prefix}secondary-hs: 49, 19%;
  --#{$prefix}secondary-l: 72%;
  --#{$prefix}tertiary: #d9d3ba;
  --#{$prefix}tertiary-rgb: 217, 211, 186;
  --#{$prefix}tertiary-hs: 48, 29%;
  --#{$prefix}tertiary-l: 79%;
  --#{$prefix}success: #54ff62;
  --#{$prefix}success-rgb: 84, 255, 98;
  --#{$prefix}success-hs: 125, 100%;
  --#{$prefix}success-l: 66%;
  --#{$prefix}info: #5496ff;
  --#{$prefix}info-rgb: 84, 150, 255;
  --#{$prefix}info-hs: 217, 100%;
  --#{$prefix}info-l: 66%;
  --#{$prefix}warning: #ffd754;
  --#{$prefix}warning-rgb: 255, 215, 84;
  --#{$prefix}warning-hs: 46, 100%;
  --#{$prefix}warning-l: 66%;
  --#{$prefix}danger: #ff5454;
  --#{$prefix}danger-rgb: 255, 84, 84;
  --#{$prefix}danger-hs: 0, 100%;
  --#{$prefix}danger-l: 66%;
  --#{$prefix}light: #ebe4ca;
  --#{$prefix}light-rgb: 235, 228, 202;
  --#{$prefix}light-hs: 47, 45%;
  --#{$prefix}light-l: 86%;
  --#{$prefix}dark: #47453d;
  --#{$prefix}dark-rgb: 71, 69, 61;
  --#{$prefix}dark-hs: 4, 8%;
  --#{$prefix}dark-l: 26%;
  --#{$prefix}accent: #ff7154;
  --#{$prefix}accent-rgb: 255, 113, 84;
  --#{$prefix}accent-hs: 10, 100%;
  --#{$prefix}accent-l: 66%;
  --#{$prefix}primary-text: var(--#{$prefix}primary);
  --#{$prefix}secondary-text: var(--#{$prefix}secondary);
  --#{$prefix}tertiary-text: var(--#{$prefix}tertiary);
  --#{$prefix}success-text: var(--#{$prefix}success);
  --#{$prefix}info-text: var(--#{$prefix}info);
  --#{$prefix}warning-text: var(--#{$prefix}warning);
  --#{$prefix}danger-text: var(--#{$prefix}danger);
  --#{$prefix}light-text: var(--#{$prefix}light);
  --#{$prefix}dark-text: var(--#{$prefix}dark);
  --#{$prefix}accent-text: var(--#{$prefix}accent);
  --#{$prefix}primary-bg-subtle: var(--#{$prefix}primary);
  --#{$prefix}secondary-bg-subtle: var(--#{$prefix}secondary);
  --#{$prefix}tertiary-bg-subtle: var(--#{$prefix}tertiary);
  --#{$prefix}success-bg-subtle: var(--#{$prefix}success);
  --#{$prefix}info-bg-subtle: var(--#{$prefix}info);
  --#{$prefix}warning-bg-subtle: var(--#{$prefix}warning);
  --#{$prefix}danger-bg-subtle: var(--#{$prefix}danger);
  --#{$prefix}light-bg-subtle: var(--#{$prefix}light);
  --#{$prefix}dark-bg-subtle: var(--#{$prefix}dark);
  --#{$prefix}accent-bg-subtle: var(--#{$prefix}accent);
  --#{$prefix}primary-border-subtle: var(--#{$prefix}primary);
  --#{$prefix}secondary-border-subtle: var(--#{$prefix}secondary);
  --#{$prefix}tertiary-border-subtle: var(--#{$prefix}tertiary);
  --#{$prefix}success-border-subtle: var(--#{$prefix}success);
  --#{$prefix}info-border-subtle: var(--#{$prefix}info);
  --#{$prefix}warning-border-subtle: var(--#{$prefix}warning);
  --#{$prefix}danger-border-subtle: var(--#{$prefix}danger);
  --#{$prefix}light-border-subtle: var(--#{$prefix}light);
  --#{$prefix}dark-border-subtle: var(--#{$prefix}dark);
  --#{$prefix}accent-border-subtle: var(--#{$prefix}accent);
  --#{$prefix}body-color: var(--#{$prefix}dark);
  --#{$prefix}body-bg: var(--#{$prefix}secondary);
  --#{$prefix}body-bg-img: url("../images/bkg-graphic.png");
  --#{$prefix}body-emphasis-color: var(--#{$prefix}accent);
  --#{$prefix}body-secondary-color: var(--#{$prefix}secondary);
  --#{$prefix}body-secondary-bg: var(--#{$prefix}secondary);
  --#{$prefix}body-tertiary-color: var(--#{$prefix}tertiary);
  --#{$prefix}body-tertiary-bg: var(--#{$prefix}tertiary);
  --#{$prefix}emphasis-color: var(--#{$prefix}accent);
  --#{$prefix}border-color: var(--#{$prefix}dark);
  --#{$prefix}border-color-translucent: rgba(var(--#{$prefix}dark-rgb), 0.15);
  --#{$prefix}headings-color: var(--#{$prefix}dark);
  --#{$prefix}link-color: var(--#{$prefix}light);
  --#{$prefix}link-bg: var(--#{$prefix}dark);
  --#{$prefix}link-hover: var(--#{$prefix}accent);
  --#{$prefix}code-color: var(--#{$prefix}accent);
  --#{$prefix}selection-color: var(--#{$prefix}light);
  --#{$prefix}selection-bg: var(--#{$prefix}accent);
  --#{$prefix}box-highlight: rgba(var(--#{$prefix}dark-rgb), 0.5);
  --#{$prefix}heading-color: var(--#{$prefix}dark);
  --#{$prefix}heading-text-shadow: rgba(var(--#{$prefix}dark-rgb), 0.2);
  --#{$prefix}bg-pattern-light: url("../images/bkg-grid_light.png");
  --#{$prefix}bg-pattern-dark: url("../images/bkg-grid_dark.png");
  --#{$prefix}bg-pattern-light-subtle: url("../images/bkg-grid_light_third-opacity.png");
  --#{$prefix}bg-pattern-dark-subtle: url("../images/bkg-grid_dark_third-opacity.png");
  --#{$prefix}border-decoration-start-img: url("../images/border-decoration_left.png");
  --#{$prefix}border-decoration-bottom-img: url("../images/border-decoration.png");

  .accordion {
    --#{$prefix}accordion-color: var(--#{$prefix}dark);
    --#{$prefix}accordion-bg: transparent;
    --#{$prefix}accordion-hover-bg: var(--#{$prefix}primary);
    --#{$prefix}accordion-border-color: transparent;
    --#{$prefix}accordion-btn-color: #{$accordion-color};
    --#{$prefix}accordion-btn-bg: transparent;
    --#{$prefix}accordion-btn-icon: url("../images/expand-collapse_sprite.png");
    --#{$prefix}accordion-btn-focus-border-color: transparent;
    --#{$prefix}accordion-active-color: var(--#{$prefix}light);
    --#{$prefix}accordion-active-bg: var(--#{$prefix}dark);
  }

  .btn-close {
    --#{$prefix}btn-close-color: var(--#{$prefix}light);
    --#{$prefix}btn-close-hover-color: var(--#{$prefix}accent);
  }

  .btn-scroll {
    --#{$prefix}btn-scroll-bg: var(--#{$prefix}primary);
    --#{$prefix}btn-scroll-bg-img: var(--#{$prefix}bg-pattern-dark-subtle);
    --#{$prefix}btn-scroll-hover-bg: var(--#{$prefix}dark);
    --#{$prefix}btn-scroll-hover-bg-img: var(--#{$prefix}bg-pattern-light-subtle);
    --#{$prefix}btn-scroll-icon-bg: var(--#{$prefix}dark);
    --#{$prefix}btn-scroll-icon-hover-bg: var(--#{$prefix}light);
  }

  .card {
    --#{$prefix}card-title-color: #{$card-title-color};
    --#{$prefix}card-subtitle-color: #{$card-subtitle-color};
    --#{$prefix}card-border-color: transparent;
    --#{$prefix}card-cap-bg: var(--#{$prefix}dark);
    --#{$prefix}card-cap-bg-img: var(--#{$prefix}bg-pattern-light-subtle);
    --#{$prefix}card-cap-color: var(--#{$prefix}light);
    --#{$prefix}card-cap-decoration-bg: var(--#{$prefix}light);
    --#{$prefix}card-color: #{$card-color};
    --#{$prefix}card-bg: var(--#{$prefix}tertiary);
    --#{$prefix}card-decoration-bg: var(--#{$prefix}primary);
  }

  .dropdown-menu {
    --#{$prefix}dropdown-color: var(--#{$prefix}light);
    --#{$prefix}dropdown-bg: var(--#{$prefix}tertiary);
    --#{$prefix}dropdown-bg-img: var(--#{$prefix}bg-pattern-dark-subtle);
    --#{$prefix}dropdown-border-color: transparent;
    --#{$prefix}dropdown-divider-bg: var(--#{$prefix}primary);
    --#{$prefix}dropdown-link-color: var(--#{$prefix}dark);
    --#{$prefix}dropdown-link-hover-color: var(--#{$prefix}light);
    --#{$prefix}dropdown-link-hover-bg: var(--#{$prefix}dark);
    --#{$prefix}dropdown-link-hover-bg-img: var(--#{$prefix}bg-pattern-light-subtle);
    --#{$prefix}dropdown-link-active-color: var(--#{$prefix}dropdown-link-hover-color);
    --#{$prefix}dropdown-link-active-bg: ar(--#{$prefix}dropdown-link-hover-bg);
    --#{$prefix}dropdown-link-disabled-color: rgba(var(--#{$prefix}dark-rgb), 0.5);
    --#{$prefix}dropdown-header-color: var(--#{$prefix}dark);
  }

  #footer-wrapper {
    --#{$prefix}footer-wrapper-border-color: var(--#{$prefix}dark);
    --#{$prefix}footer-border-decoration-bg-img: url("../images/border-decoration_left_footer.png");
  }

  .form-check-input {
    --#{$prefix}checkbox-bg-img: url("../images/checkmark_sprite.png");
  }

  .list-group {
    --#{$prefix}list-group-color: var(--#{$prefix}dark);
    --#{$prefix}list-group-bg: transparent;
    --#{$prefix}list-group-border-color: transparent;
    --#{$prefix}list-group-overlay: #{$black};
    --#{$prefix}list-group-item-hover-bg: var(--#{$prefix}primary);
    --#{$prefix}list-group-item-hover-bg-img: var(--#{$prefix}bg-pattern-dark-subtle);
    --#{$prefix}list-group-item-decoration-bg: var(--#{$prefix}dark);
    --#{$prefix}list-group-item-decoration-active-bg: var(--#{$prefix}primary);
    --#{$prefix}list-group-item-decoration-color: var(--#{$prefix}dark);
    --#{$prefix}list-group-item-decoration-active-color: var(--#{$prefix}primary);
    --#{$prefix}list-group-action-color: var(--#{$prefix}list-group-color);
    --#{$prefix}list-group-action-hover-color: var(--#{$prefix}list-group-color);
    --#{$prefix}list-group-action-hover-bg: var(--#{$prefix}primary);
    --#{$prefix}list-group-action-active-color: var(--#{$prefix}list-group-action-hover-color);
    --#{$prefix}list-group-action-active-bg: var(--#{$prefix}list-group-action-hover-bg);
    --#{$prefix}list-group-disabled-color: rgba(var(--#{$prefix}dark-rgb), 0.5);
    --#{$prefix}list-group-disabled-bg: var(--#{$prefix}list-group-bg);
    --#{$prefix}list-group-active-color: #{$list-group-active-color};
    --#{$prefix}list-group-active-bg: var(--#{$prefix}list-group-action-hover-bg);
    --#{$prefix}list-group-active-border-color: transparent;
    --#{$prefix}list-group-standalone-active-overlay: #{$black};
    --#{$prefix}list-group-standalone-item-bg: var(--#{$prefix}primary);
    --#{$prefix}list-group-standalone-item-bg-img: var(--#{$prefix}bg-pattern-dark-subtle);
    --#{$prefix}list-group-standalone-item-hover-bg: var(--#{$prefix}dark);
    --#{$prefix}list-group-standalone-item-hover-bg-img: var(--#{$prefix}bg-pattern-light-subtle);
    --#{$prefix}list-group-standalone-item-color: var(--#{$prefix}dark);
    --#{$prefix}list-group-standalone-item-text-color: var(--#{$prefix}dark);
    --#{$prefix}list-group-standalone-item-text-active-color: var(--#{$prefix}light);
    --#{$prefix}list-group-standalone-item-decoration-bg: var(--#{$prefix}dark);
    --#{$prefix}list-group-standalone-item-decoration-active-bg: var(--#{$prefix}light);
    --#{$prefix}list-group-standalone-item-overlay: hsl(var(--#{$prefix}primary-hs), calc(var(--#{$prefix}primary-l) - 10%));
  }

  .navbar {
    --#{$prefix}navbar-color: var(--#{$prefix}dark);
    --#{$prefix}navbar-hover-color: var(--#{$prefix}light);
    --#{$prefix}navbar-disabled-color: rgba(var(--#{$prefix}dark-rgb), 0.5);
    --#{$prefix}navbar-active-color: var(--#{$prefix}light);
    --#{$prefix}navbar-border-color: var(--#{$prefix}dark);
    --#{$prefix}navbar-brand-color: var(--#{$prefix}light);
    --#{$prefix}navbar-brand-hover-color: var(--#{$prefix}light);
    --#{$prefix}navbar-nav-link-bg: var(--#{$prefix}primary);
    --#{$prefix}navbar-nav-link-bg-img: var(--#{$prefix}bg-pattern-dark-subtle);
    --#{$prefix}navbar-nav-link-hover-bg: var(--#{$prefix}dark);
    --#{$prefix}navbar-nav-link-hover-bg-img: var(--#{$prefix}bg-pattern-light-subtle);
    --#{$prefix}navbar-nav-link-hover-color: var(--#{$prefix}light);
    --#{$prefix}navbar-nav-link-decoration-bg: var(--#{$prefix}dark);
    --#{$prefix}navbar-nav-link-decoration-hover-bg: var(--#{$prefix}light);
    --#{$prefix}navbar-toggler-border-color: transparent;
  }

  .os-theme-automata {
    --#{$prefix}overlayscrollbars-scrollbar-handle-bg: var(--#{$prefix}dark);;
  }

  #page-wrapper {
    --#{$prefix}page-wrapper-bg: rgba(#{$black}, 0.8);
    --#{$prefix}page-wrappper-color: var(--#{$prefix}light);
  }
}

[data-bs-theme="dark"] {
  --#{$prefix}primary: #131312;
  --#{$prefix}primary-rgb: 19, 19, 18;
  --#{$prefix}primary-hs: 60, 3%;
  --#{$prefix}primary-l: 7%;
  --#{$prefix}secondary: #4e4c4a;
  --#{$prefix}secondary-rgb: 78, 76, 74;
  --#{$prefix}secondary-hs: 30, 3%;
  --#{$prefix}secondary-l: 30%;
  --#{$prefix}tertiary: #8c8885;
  --#{$prefix}tertiary-rgb: 140, 136, 133;
  --#{$prefix}tertiary-hs: 26, 3%;
  --#{$prefix}tertiary-l: 54%;
  --#{$prefix}success: #54ff62;
  --#{$prefix}success-rgb: 84, 255, 98;
  --#{$prefix}success-hs: 125, 100%;
  --#{$prefix}success-l: 66%;
  --#{$prefix}info: #5496ff;
  --#{$prefix}info-rgb: 84, 150, 255;
  --#{$prefix}info-hs: 217, 100%;
  --#{$prefix}info-l: 66%;
  --#{$prefix}warning: #ffd754;
  --#{$prefix}warning-rgb: 255, 215, 84;
  --#{$prefix}warning-hs: 46, 100%;
  --#{$prefix}warning-l: 66%;
  --#{$prefix}danger: #ff5454;
  --#{$prefix}danger-rgb: 255, 84, 84;
  --#{$prefix}danger-hs: 0, 100%;
  --#{$prefix}danger-l: 66%;
  --#{$prefix}light: #e5dfda;
  --#{$prefix}light-rgb: 229, 223, 218;
  --#{$prefix}light-hs: 27, 17%;
  --#{$prefix}light-l: 88%;
  --#{$prefix}dark: #070707;
  --#{$prefix}dark-rgb: 7, 7, 7;
  --#{$prefix}dark-hs: 0, 0%;
  --#{$prefix}dark-l: 3%;
  --#{$prefix}accent: #ff7154;
  --#{$prefix}accent-rgb: 255, 113, 84;
  --#{$prefix}accent-hs: 10, 100%;
  --#{$prefix}accent-l: 66%;
  --#{$prefix}primary-text: var(--#{$prefix}primary);
  --#{$prefix}secondary-text: var(--#{$prefix}secondary);
  --#{$prefix}tertiary-text: var(--#{$prefix}tertiary);
  --#{$prefix}success-text: var(--#{$prefix}success);
  --#{$prefix}info-text: var(--#{$prefix}info);
  --#{$prefix}warning-text: var(--#{$prefix}warning);
  --#{$prefix}danger-text: var(--#{$prefix}danger);
  --#{$prefix}light-text: var(--#{$prefix}light);
  --#{$prefix}dark-text: var(--#{$prefix}dark);
  --#{$prefix}accent-text: var(--#{$prefix}accent);
  --#{$prefix}primary-bg-subtle: var(--#{$prefix}primary);
  --#{$prefix}secondary-bg-subtle: var(--#{$prefix}secondary);
  --#{$prefix}tertiary-bg-subtle: var(--#{$prefix}tertiary);
  --#{$prefix}success-bg-subtle: var(--#{$prefix}success);
  --#{$prefix}info-bg-subtle: var(--#{$prefix}info);
  --#{$prefix}warning-bg-subtle: var(--#{$prefix}warning);
  --#{$prefix}danger-bg-subtle: var(--#{$prefix}danger);
  --#{$prefix}light-bg-subtle: var(--#{$prefix}light);
  --#{$prefix}dark-bg-subtle: var(--#{$prefix}dark);
  --#{$prefix}accent-bg-subtle: var(--#{$prefix}accent);
  --#{$prefix}primary-border-subtle: var(--#{$prefix}primary);
  --#{$prefix}secondary-border-subtle: var(--#{$prefix}secondary);
  --#{$prefix}tertiary-border-subtle: var(--#{$prefix}tertiary);
  --#{$prefix}success-border-subtle: var(--#{$prefix}success);
  --#{$prefix}info-border-subtle: var(--#{$prefix}info);
  --#{$prefix}warning-border-subtle: var(--#{$prefix}warning);
  --#{$prefix}danger-border-subtle: var(--#{$prefix}danger);
  --#{$prefix}light-border-subtle: var(--#{$prefix}light);
  --#{$prefix}dark-border-subtle: var(--#{$prefix}dark);
  --#{$prefix}accent-border-subtle: var(--#{$prefix}accent);
  --#{$prefix}body-color: var(--#{$prefix}light);
  --#{$prefix}body-bg: var(--#{$prefix}dark);
  --#{$prefix}body-bg-img: url("../images/dark/bkg-graphic.png");
  --#{$prefix}body-emphasis-color: var(--#{$prefix}accent);
  --#{$prefix}body-secondary-color: var(--#{$prefix}secondary);
  --#{$prefix}body-secondary-bg: var(--#{$prefix}secondary);
  --#{$prefix}body-tertiary-color: var(--#{$prefix}tertiary);
  --#{$prefix}body-tertiary-bg: var(--#{$prefix}tertiary);
  --#{$prefix}emphasis-color: var(--#{$prefix}accent);
  --#{$prefix}border-color: var(--#{$prefix}dark);
  --#{$prefix}border-color-translucent: rgba(var(--#{$prefix}dark-rgb), 0.15);
  --#{$prefix}headings-color: var(--#{$prefix}light);
  --#{$prefix}link-color: var(--#{$prefix}dark);
  --#{$prefix}link-bg: var(--#{$prefix}light);
  --#{$prefix}link-hover: var(--#{$prefix}accent);
  --#{$prefix}code-color: var(--#{$prefix}accent);
  --#{$prefix}selection-color: var(--#{$prefix}light);
  --#{$prefix}selection-bg: var(--#{$prefix}accent);
  --#{$prefix}box-highlight: rgba(var(--#{$prefix}tertiary-rgb), 0.3);
  --#{$prefix}heading-color: var(--#{$prefix}light);
  --#{$prefix}heading-text-shadow: rgba(var(--#{$prefix}light-rgb), 0.2);
  --#{$prefix}bg-pattern-light: url("../images/dark/bkg-grid_light.png");
  --#{$prefix}bg-pattern-dark: url("../images/dark/bkg-grid_dark.png");
  --#{$prefix}bg-pattern-light-subtle: url("../images/dark/bkg-grid_light_third-opacity.png");
  --#{$prefix}bg-pattern-dark-subtle: url("../images/dark/bkg-grid_dark_third-opacity.png");
  --#{$prefix}border-decoration-start-img: url("../images/dark/border-decoration_left.png");
  --#{$prefix}border-decoration-bottom-img: url("../images/dark/border-decoration.png");

  .accordion {
    --#{$prefix}accordion-color: var(--#{$prefix}light);
    --#{$prefix}accordion-bg: transparent;
    --#{$prefix}accordion-hover-bg: var(--#{$prefix}primary);
    --#{$prefix}accordion-border-color: transparent;
    --#{$prefix}accordion-btn-color: #{$accordion-color};
    --#{$prefix}accordion-btn-bg: transparent;
    --#{$prefix}accordion-btn-icon: url("../images/dark/expand-collapse_sprite.png");
    --#{$prefix}accordion-btn-focus-border-color: transparent;
    --#{$prefix}accordion-active-color: var(--#{$prefix}light);
    --#{$prefix}accordion-active-bg: var(--#{$prefix}tertiary);
  }

  .btn-close {
    --#{$prefix}btn-close-color: var(--#{$prefix}light);
    --#{$prefix}btn-close-hover-color: var(--#{$prefix}accent);
  }

  .btn-scroll {
    --#{$prefix}btn-scroll-bg: var(--#{$prefix}secondary);
    --#{$prefix}btn-scroll-bg-img: var(--#{$prefix}bg-pattern-light);
    --#{$prefix}btn-scroll-hover-bg: var(--#{$prefix}tertiary);
    --#{$prefix}btn-scroll-hover-bg-img: var(--#{$prefix}bg-pattern-dark);
    --#{$prefix}btn-scroll-icon-bg: var(--#{$prefix}light);
    --#{$prefix}btn-scroll-icon-hover-bg: var(--#{$prefix}light);
  }

  .card {
    --#{$prefix}card-title-color: #{$card-title-color};
    --#{$prefix}card-subtitle-color: #{$card-subtitle-color};
    --#{$prefix}card-border-color: transparent;
    --#{$prefix}card-cap-bg: var(--#{$prefix}tertiary);
    --#{$prefix}card-cap-bg-img: var(--#{$prefix}bg-pattern-dark);
    --#{$prefix}card-cap-color: var(--#{$prefix}light);
    --#{$prefix}card-cap-decoration-bg: var(--#{$prefix}light);
    --#{$prefix}card-color: #{$card-color};
    --#{$prefix}card-bg: var(--#{$prefix}primary);
    --#{$prefix}card-decoration-bg: var(--#{$prefix}secondary);
  }

  .dropdown-menu {
    --#{$prefix}dropdown-color: var(--#{$prefix}light);
    --#{$prefix}dropdown-bg: var(--#{$prefix}primary);
    --#{$prefix}dropdown-bg-img: var(--#{$prefix}bg-pattern-light-subtle);
    --#{$prefix}dropdown-border-color: transparent;
    --#{$prefix}dropdown-divider-bg: var(--#{$prefix}secondary);
    --#{$prefix}dropdown-link-color: var(--#{$prefix}light);
    --#{$prefix}dropdown-link-hover-color: var(--#{$prefix}light);
    --#{$prefix}dropdown-link-hover-bg: var(--#{$prefix}tertiary);
    --#{$prefix}dropdown-link-hover-bg-img: var(--#{$prefix}bg-pattern-dark);
    --#{$prefix}dropdown-link-active-color: var(--#{$prefix}dropdown-link-hover-color);
    --#{$prefix}dropdown-link-active-bg: ar(--#{$prefix}dropdown-link-hover-bg);
    --#{$prefix}dropdown-link-disabled-color: rgba(var(--#{$prefix}light-rgb), 0.5);
    --#{$prefix}dropdown-header-color: var(--#{$prefix}light);
  }

  #footer-wrapper {
    --#{$prefix}footer-wrapper-border-color: var(--#{$prefix}tertiary);
    --#{$prefix}footer-border-decoration-bg-img: url("../images/dark/border-decoration_left_footer.png");
  }

  .form-check-input {
    --#{$prefix}checkbox-bg-img: url("../images/dark/checkmark_sprite.png");
  }

  .list-group {
    --#{$prefix}list-group-color: var(--#{$prefix}light);
    --#{$prefix}list-group-bg: transparent;
    --#{$prefix}list-group-border-color: transparent;
    --#{$prefix}list-group-overlay: #{$black};
    --#{$prefix}list-group-item-hover-bg: var(--#{$prefix}secondary);
    --#{$prefix}list-group-item-hover-bg-img: var(--#{$prefix}bg-pattern-light);
    --#{$prefix}list-group-item-decoration-bg: var(--#{$prefix}light);
    --#{$prefix}list-group-item-decoration-active-bg: var(--#{$prefix}list-group-item-hover-bg);
    --#{$prefix}list-group-item-decoration-color: var(--#{$prefix}light);
    --#{$prefix}list-group-item-decoration-active-color: var(--#{$prefix}list-group-item-hover-bg);;
    --#{$prefix}list-group-action-color: var(--#{$prefix}list-group-color);
    --#{$prefix}list-group-action-hover-color: var(--#{$prefix}list-group-color);
    --#{$prefix}list-group-action-hover-bg: var(--#{$prefix}secondary);
    --#{$prefix}list-group-action-active-color: var(--#{$prefix}list-group-action-hover-color);
    --#{$prefix}list-group-action-active-bg: var(--#{$prefix}list-group-action-hover-bg);
    --#{$prefix}list-group-disabled-color: rgba(var(--#{$prefix}dark-rgb), 0.5);
    --#{$prefix}list-group-disabled-bg: var(--#{$prefix}list-group-bg);
    --#{$prefix}list-group-active-color: #{$list-group-active-color};
    --#{$prefix}list-group-active-bg: var(--#{$prefix}list-group-action-hover-bg);
    --#{$prefix}list-group-active-border-color: transparent;
    --#{$prefix}list-group-standalone-active-overlay: #{$black};
    --#{$prefix}list-group-standalone-item-bg: var(--#{$prefix}secondary);
    --#{$prefix}list-group-standalone-item-bg-img: var(--#{$prefix}bg-pattern-light);
    --#{$prefix}list-group-standalone-item-hover-bg: var(--#{$prefix}tertiary);
    --#{$prefix}list-group-standalone-item-hover-bg-img: var(--#{$prefix}bg-pattern-dark);
    --#{$prefix}list-group-standalone-item-color: var(--#{$prefix}light);
    --#{$prefix}list-group-standalone-item-text-color: var(--#{$prefix}light);
    --#{$prefix}list-group-standalone-item-text-active-color: var(--#{$prefix}light);
    --#{$prefix}list-group-standalone-item-decoration-bg: var(--#{$prefix}light);
    --#{$prefix}list-group-standalone-item-decoration-active-bg: var(--#{$prefix}light);
    --#{$prefix}list-group-standalone-item-overlay: hsl(var(--#{$prefix}primary-hs), calc(var(--#{$prefix}primary-l) - 10%));
  }

  .navbar {
    --#{$prefix}navbar-color: var(--#{$prefix}light);
    --#{$prefix}navbar-hover-color: var(--#{$prefix}light);
    --#{$prefix}navbar-disabled-color: rgba(var(--#{$prefix}dark-rgb), 0.5);
    --#{$prefix}navbar-active-color: var(--#{$prefix}light);
    --#{$prefix}navbar-border-color: var(--#{$prefix}tertiary);
    --#{$prefix}navbar-brand-color: var(--#{$prefix}light);
    --#{$prefix}navbar-brand-hover-color: var(--#{$prefix}light);
    --#{$prefix}navbar-nav-link-bg: var(--#{$prefix}secondary);
    --#{$prefix}navbar-nav-link-bg-img: var(--#{$prefix}bg-pattern-light);
    --#{$prefix}navbar-nav-link-hover-bg: var(--#{$prefix}tertiary);
    --#{$prefix}navbar-nav-link-hover-bg-img: var(--#{$prefix}bg-pattern-dark);
    --#{$prefix}navbar-nav-link-hover-color: var(--#{$prefix}light);
    --#{$prefix}navbar-nav-link-decoration-bg: var(--#{$prefix}light);
    --#{$prefix}navbar-nav-link-decoration-hover-bg: var(--#{$prefix}light);
    --#{$prefix}navbar-toggler-border-color: transparent;
  }

  .os-theme-automata {
    --#{$prefix}overlayscrollbars-scrollbar-handle-bg: var(--#{$prefix}tertiary);;
  }

  #page-wrapper {
    --#{$prefix}page-wrapper-bg: #{rgba($black, 0.8)};
    --#{$prefix}page-wrappper-color: var(--#{$prefix}light);
  }
}

//Custom CSS
*:focus {
  box-shadow: none !important;
}

[contenteditable]:focus-visible {
  outline: 0;
}

::-moz-selection {
  background-color: var(--#{$prefix}selection-bg);
  color: var(--#{$prefix}selection-color);
}

::selection {
  background-color: var(--#{$prefix}selection-bg);
  color: var(--#{$prefix}selection-color);
}

@media (orientation: landscape) {
  @include media-breakpoint-down(lg) {
    html,
    body {
      overflow: hidden !important;
    }

    #page-wrapper {
      &:before {
        background-color: var(--#{$prefix}page-wrapper-bg);
        color: var(--#{$prefix}page-wrappper-color);
        content: "Orientation Disabled";
        display: inline-block;
        font-family: $font-family-sans-serif;
        font-size: $font-size-base * 1.5;
        font-weight: $font-weight-light;
        height: 100vh;
        letter-spacing: $font-size-base * 0.3;
        line-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        text-transform: uppercase;
        white-space: pre-wrap;
        width: 100vw;
        z-index: 9999;
      }
    }
  }
}

body {
  background-image: var(--#{$prefix}bg-pattern-dark-subtle);
  position: relative;

  &:before,
  &:after {
    aspect-ratio: 475 / 473;
    background-image: var(--#{$prefix}body-bg-img);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 97vh;
    position: fixed;
    z-index: -1;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }
}

@include media-breakpoint-between(xl, xxl) {
  body {
    &:before,
    &:after {
      height: 85vh;
    }
  }
}

@include media-breakpoint-down(xl) {
  body {
    &:before,
    &:after {
      height: 85vh;
    }
  }
}

@include media-breakpoint-between(lg, xl) {
  body {
    &:before,
    &:after {
      height: 80vh;
    }
  }
}

@include media-breakpoint-down(lg) {
  body {
    &:before,
    &:after {
      height: 70vh;
    }
  }
}

@include media-breakpoint-down(md) {
  body {
    &:before,
    &:after {
      height: 65vh;
    }
  }
}

@include media-breakpoint-down(sm) {
  body {
    &:before,
    &:after {
      height: 45vh;
    }
  }
}

a {
  background-color: var(--#{$prefix}link-bg);
  color: var(--#{$prefix}link-color);
  text-decoration: none;

  &::-moz-selection {
    background-color: var(--#{$prefix}link-bg);
  }

  &::selection {
    background-color: var(--#{$prefix}link-bg);
  }

  &:hover,
  &:active {
    background-color: var(--#{$prefix}link-hover);
    text-decoration: none;

    &::-moz-selection {
      background-color: var(--#{$prefix}link-bg);
      color: var(--#{$prefix}link-hover);
    }

    &::selection {
      background-color: var(--#{$prefix}link-bg);
      color: var(--#{$prefix}link-hover);
    }
  }
}

.navbar {
  border-bottom: 2px solid var(--#{$prefix}navbar-border-color);

  & .nav-item {
    & > .nav-link {
      align-items: center;
      background-color: var(--#{$prefix}navbar-nav-link-bg);
      background-image: var(--#{$prefix}navbar-nav-link-bg-img);
      display: flex;
      padding-top: var(--#{$prefix}navbar-nav-link-padding-y);
      padding-right: var(--#{$prefix}navbar-nav-link-padding-x);
      padding-bottom: var(--#{$prefix}navbar-nav-link-padding-y);
      padding-left: var(--#{$prefix}navbar-nav-link-padding-x);
      position: relative;
      text-transform: uppercase;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:before {
        background-color: var(--#{$prefix}navbar-nav-link-decoration-bg);
        content: "";
        display: inline-block;
        height: 16px;
        margin-right: 0.5rem;
        min-width: 16px;
        width: 16px;
      }

      &:hover,
      &.active {
        background-color: var(--#{$prefix}navbar-nav-link-hover-bg);
        background-image: var(--#{$prefix}navbar-nav-link-hover-bg-img);
        color: var(--#{$prefix}navbar-nav-link-hover-color);

        &:before {
          background-color: var(--#{$prefix}navbar-nav-link-decoration-hover-bg);
        }
      }

      & > span {
        margin-bottom: 1px;
      }
    }
  }
}

#main-nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#main-nav::-webkit-scrollbar {
  display: none;
}

#site-name {
  & > span {
    font-size: $font-size-base * 1.25;
    font-weight: 400;
    margin-left: $spacer;
  }
}

@include media-breakpoint-down(md) {
  #site-name {
    font-size: $font-size-base * 1.5;

    & > span {
      font-size: $font-size-base;
      font-weight: 400;
      margin-left: $spacer * 0.5;
    }
  }
}

.card {
  background-image: var(--#{$prefix}bg-pattern-dark-subtle);
  position: relative;

  &.card-transparent {
    background-color: transparent;
    background-image: none;
  }

  & .card-decoration-top,
  & .card-decoration-bottom {
    padding-right: $spacer * 0.5;
    padding-left: $spacer * 0.5;
    position: absolute;
    top: -$spacer * 0.5;
    left: 0;
    width: 100%;

    &:before {
      border-top: 2px solid var(--#{$prefix}card-decoration-bg);
      content: "";
      display: inline-block;
      width: calc(100% - $spacer);
    }

    &:after {
      background-color: var(--#{$prefix}card-decoration-bg);
      border-radius: 100%;
      content: "";
      display: inline-block;
      height: 4px;
      position: relative;
      top: 1px;
      right: -$spacer * 0.3;
      width: 4px;
    }
  }

  & .card-decoration-bottom {
    top: auto;
    bottom: $spacer * 0.25;
  }

  & > .card-body {
    position: relative;
  }

  & > .card-header {
    align-items: center;
    background-image: var(--#{$prefix}card-cap-bg-img);
    display: flex;
    flex-direction: row;

    &:before {
      background-color: var(--#{$prefix}card-cap-decoration-bg);
      content: "";
      display: inline-block;
      height: 16px;
      margin-right: 0.5rem;
      min-width: 16px;
      width: 16px;
    }

    & > span {
      line-height: 1.51;
      margin-bottom: 1px;
      width: calc(100% - $spacer * 0.25);
    }
  }
}

.btn-scroll {
  background-color: var(--#{$prefix}btn-scroll-bg);
  background-image: var(--#{$prefix}btn-scroll-bg-img);
  border: 0;
  padding: 0.25rem;

  &:hover,
  &:active {
    background-color: var(--#{$prefix}btn-scroll-hover-bg) !important;
    background-image: var(--#{$prefix}btn-scroll-hover-bg-img);
  }

  & > .button-scroll-icon {
    background: var(--#{$prefix}btn-scroll-icon-bg);
    display: inline-block;
    height: 1em;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path d='M28 34 18 24l10-10Z'/></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path d='M28 34 18 24l10-10Z'/></svg>");
    -webkit-mask-position: 50% 40%;
    mask-position: 50% 40%;
    -webkit-mask-size: 2em;
    mask-size: 2em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 1em;

    &.rotated {
      -webkit-mask-position: 50% 60%;
      mask-position: 50% 60%;
      transform: rotate(180deg);
    }

    &:hover,
    &:active {
      background: var(--#{$prefix}btn-scroll-icon-hover-bg);
      -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path d='M28 34 18 24l10-10Z'/></svg>");
      mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path d='M28 34 18 24l10-10Z'/></svg>");
      -webkit-mask-position: 50% 40%;
      mask-position: 50% 40%;
      -webkit-mask-size: 2em;
      mask-size: 2em;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;

      &.rotated {
        -webkit-mask-position: 50% 60%;
        mask-position: 50% 60%;
        transform: rotate(180deg);
      }
    }
  }
}

.btn-close {
  background: var(--#{$prefix}btn-close-color);
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 16 16'><path d='m5.025 9.561 1.414 1.414-4.732 4.732-1.414-1.414 4.732-4.732Zm5.95 0 4.732 4.732-1.414 1.414-4.732-4.732 1.414-1.414ZM6.439 5.025 5.025 6.439.293 1.707 1.707.293l4.732 4.732Zm3.122 0L14.293.293l1.414 1.414-4.732 4.732-1.414-1.414Z' style='fill-rule:nonzero'/><path d='M4.464 8 8 4.464 11.535 8 8 11.536z'/></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 16 16'><path d='m5.025 9.561 1.414 1.414-4.732 4.732-1.414-1.414 4.732-4.732Zm5.95 0 4.732 4.732-1.414 1.414-4.732-4.732 1.414-1.414ZM6.439 5.025 5.025 6.439.293 1.707 1.707.293l4.732 4.732Zm3.122 0L14.293.293l1.414 1.414-4.732 4.732-1.414-1.414Z' style='fill-rule:nonzero'/><path d='M4.464 8 8 4.464 11.535 8 8 11.536z'/></svg>");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 1em;
  mask-size: 1em;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  &:hover {
    background: var(--#{$prefix}btn-close-hover-color);
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 16 16'><path d='m5.025 9.561 1.414 1.414-4.732 4.732-1.414-1.414 4.732-4.732Zm5.95 0 4.732 4.732-1.414 1.414-4.732-4.732 1.414-1.414ZM6.439 5.025 5.025 6.439.293 1.707 1.707.293l4.732 4.732Zm3.122 0L14.293.293l1.414 1.414-4.732 4.732-1.414-1.414Z' style='fill-rule:nonzero'/><path d='M4.464 8 8 4.464 11.535 8 8 11.536z'/></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 16 16'><path d='m5.025 9.561 1.414 1.414-4.732 4.732-1.414-1.414 4.732-4.732Zm5.95 0 4.732 4.732-1.414 1.414-4.732-4.732 1.414-1.414ZM6.439 5.025 5.025 6.439.293 1.707 1.707.293l4.732 4.732Zm3.122 0L14.293.293l1.414 1.414-4.732 4.732-1.414-1.414Z' style='fill-rule:nonzero'/><path d='M4.464 8 8 4.464 11.535 8 8 11.536z'/></svg>");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 1em;
    mask-size: 1em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
}

.accordion-button {
  margin-bottom: $spacer * 0.25;

  &::after {
    display: none;
  }

  &:before {
    background-image: var(--#{$prefix}accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--#{$prefix}accordion-btn-icon-width);
    content: "";
    flex-shrink: 1;
    height: var(--#{$prefix}accordion-btn-icon-width);
    margin-right: 0.5rem;
    min-width: var(--#{$prefix}accordion-btn-icon-width);
    width: var(--#{$prefix}accordion-btn-icon-width);
  }

  &:before {
    background-position: bottom;
  }

  &.collapsed:before {
    background-position: top;
  }

  &:not(.collapsed) {
    background-image: var(--#{$prefix}bg-pattern-light-subtle);
  }

  &.collapsed:hover {
    background-image: var(--#{$prefix}bg-pattern-dark-subtle);
    background-color: var(--#{$prefix}accordion-hover-bg);
  }

  & > span {
    line-height: 1.51;
    width: calc(100% - $spacer * 0.25);
  }
}

.list-group {
  & > .list-group-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: $spacer * 0.25;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:not(.collapsed):hover,
    &.collapsed:hover {
      background-color: var(--#{$prefix}list-group-item-hover-bg);
      background-image: var(--#{$prefix}list-group-item-hover-bg-img);
    }

    &.list-group-item-decoration {
      align-items: center;
      display: flex;
      flex-direction: row;

      &:before {
        background-color: var(--#{$prefix}list-group-item-decoration-bg);
        content: "";
        display: inline-block;
        height: 16px;
        position: absolute;
        top: $spacer * 0.5;
        left: $spacer * 0.5;
        min-width: 16px;
        width: 16px;
      }

      &:not(.collapsed) > span {
        background-color: var(--#{$prefix}list-group-item-decoration-active-bg);
        background-image: var(--#{$prefix}list-group-item-hover-bg-img);
      }

      & > span {
        line-height: 1.51;
        padding-top: $spacer * 0.25;
        padding-right: $spacer;
        padding-bottom: $spacer * 0.25;
        padding-left: calc($spacer + 16px);
        width: 100%;
      }
    }

    & > .form-check-input {
      margin-top: 0;
      position: absolute;
      top: $spacer * 0.5;
      left: $spacer * 0.5;
    }

    & > span[data-bs-toggle] {
      color: var(--#{$prefix}list-group-item-decoration-color);
      flex-grow: 1;
      line-height: 1.51;
      padding-top: $spacer * 0.25;
      padding-right: $spacer;
      padding-bottom: $spacer * 0.25;
      padding-left: calc($spacer + 16px);

      &:not(.collapsed) {
        background-color: var(--#{$prefix}list-group-item-decoration-active-color);
        background-image: var(--#{$prefix}list-group-item-hover-bg-img);
      }
    }
  }

  &.list-group-standalone {
    position: relative;

    &.show > .list-group-item:after {
      background-color: var(--#{$prefix}list-group-standalone-active-overlay);
      content: "";
      display: inline-block;
      height: 100%;
      opacity: 0.2;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    & > .list-group-item {
      background-color: var(--#{$prefix}list-group-standalone-item-bg);
      background-image: var(--#{$prefix}list-group-standalone-item-bg-img);
      color: var(--#{$prefix}list-group-standalone-item-color);
      position: relative;

      &:before {
        background-color: var(--#{$prefix}list-group-standalone-item-decoration-bg);
      }

      & > span {
        &:not(.collapsed) {
          background-color: transparent;
          color: var(--#{$prefix}list-group-standalone-item-text-color);
        }
      }

      &:hover,
      &:not(.collapsed) {
        background-color: var(--#{$prefix}list-group-standalone-item-hover-bg);
        background-image: var(--#{$prefix}list-group-standalone-item-hover-bg-img);

        &:before {
          background-color: var(--#{$prefix}list-group-standalone-item-decoration-active-bg);
        }

        & > span {
          color: var(--#{$prefix}list-group-standalone-item-text-active-color);
        }
      }

      & > .dropdown-menu {
        background-image: var(--#{$prefix}dropdown-bg-img);
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(calc(100% + $spacer * 0.25));

        & .dropdown-divider {
          margin-right: $spacer * 0.25;
          margin-left: $spacer * 0.25;
        }

        & .dropdown-item {
          text-align: center;

          &:hover {
            background-image: var(--#{$prefix}dropdown-link-hover-bg-img);
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .list-group {
    & > .list-group-item {
      &.list-group-item-decoration {
        &:not(.collapsed) > span {
          background-color: var(--#{$prefix}list-group-standalone-item-overlay);
        }
      }

      & > span[data-bs-toggle] {
        &:not(.collapsed) {
          background-color: var(--#{$prefix}list-group-standalone-item-overlay);
        }
      }
    }

    &.list-group-standalone > .list-group-item {
      & > .dropdown-menu {
        top: auto;
        right: 0;
        bottom: 0;
        transform: translateY(calc(100% + $spacer * 0.25));
      }

      & > span {
        &:not(.collapsed) {
          background-color: transparent;
        }
      }
    }
  }

  #list-collections.show {
    &:before {
      background-color: var(--#{$prefix}list-group-overlay);
      content: "";
      display: inline-block;
      height: 100%;
      opacity: 0.2;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  #list-info {
    height: calc(100% - $spacer * 1.5);
    padding-left: $spacer * 3.5;
    pointer-events: none;
    position: absolute;
    top: $spacer * 0.5;
    left: $spacer * 0.5;

    & .card {
      -webkit-box-shadow: 2px 2px 0px 0px var(--#{$prefix}box-highlight);
      -moz-box-shadow: 2px 2px 0px 0px var(--#{$prefix}box-highlight);
      box-shadow: 2px 2px 0px 0px var(--#{$prefix}box-highlight);
      pointer-events: auto;
    }
  }
}

.form-check-input {
  background-image: var(--#{$prefix}checkbox-bg-img);
  background-size: 16px 32px;
  background-position: top;
  border: 0;
  min-height: 16px;
  height: 16px;
  min-width: 16px;
  width: 16px;

  &:checked {
    background-position: bottom;
  }
}

#footer-wrapper {
  border-bottom: 2px solid var(--#{$prefix}footer-wrapper-border-color);
}

#footer {
  padding-left: 1.1rem;
  position: relative;

  &:before {
    background-image: var(--#{$prefix}footer-border-decoration-bg-img);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
  }
}

@include media-breakpoint-down(md) {
  #footer {
    line-height: 1.25;
  }
}

.border-decoration-start {
  padding-left: 2rem;
  position: relative;

  &:before {
    background-image: var(--#{$prefix}border-decoration-start-img);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
  }
}

.border-decoration-bottom {
  position: relative;

  &:before {
    background-image: var(--#{$prefix}border-decoration-bottom-img);
    background-repeat: space;
    content: "";
    display: inline-block;
    height: 19px;
    position: absolute;
    bottom: -$spacer * 1.2;
    left: 50%;
    transform: translatex(-50%);
    width: calc(100% - $spacer * 6);
  }
}

.text-shadow {
  text-shadow: 5px 5px 0px var(--#{$prefix}heading-text-shadow);

  & > span {
    text-shadow: none;
  }
}

@include media-breakpoint-down(md) {
  .text-shadow {
    text-shadow: 3px 3px 0px var(--#{$prefix}heading-text-shadow);
  }
}

.box-highlight {
  -webkit-box-shadow: 2px 2px 0px 0px var(--#{$prefix}box-highlight);
  -moz-box-shadow: 2px 2px 0px 0px var(--#{$prefix}box-highlight);
  box-shadow: 2px 2px 0px 0px var(--#{$prefix}box-highlight);
}

//Vertical-Only Scrollbars
.os-theme-automata {
  &.os-scrollbar-vertical {
    margin-top: $spacer * 0.5;
    margin-bottom: $spacer * 0.5;
    position: relative;
    bottom: 0;
    right: 0;
    width: 2px;
  }

  &.os-scrollbar {
    box-sizing: border-box;
    background: transparent;
  }

  &.os-scrollbar-unusable,
  &.os-scrollbar > .os-scrollbar-track {
    background: transparent;
  }

  &.os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
    min-width: 30px;
  }

  &.os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle,
  &.os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle,
  &.os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active {
    background: var(--#{$prefix}overlayscrollbars-scrollbar-handle-bg);
  }

  &.os-scrollbar-vertical .os-scrollbar-handle:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
  }

  &.os-host-scrollbar-hidden > .os-scrollbar-handle:before {
    display: none;
  }

  &.os-scrollbar-vertical .os-scrollbar-handle:before {
    left: 0;
    right: 0;
  }

  &.os-scrollbar-rtl.os-scrollbar-vertical .os-scrollbar-handle:before {
    right: 0;
    left: 0;
  }
}
